.company-name {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

#chart {
  display: block;
  width: 60%;
}

.company-name p {
  font-size: 24px;
  color: #aaa;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 640px;
  align-items: center;
}

.card-container {
  height: 150px;
  background: url(../assets/img/charts/coins-solid.svg) no-repeat 60px
    center/50px;
  width: 100%;
  margin: 5px;
  padding: 10px;
  margin-bottom: 40px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
}

.card-container .title {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  color: #666;
}

.card-container .content {
  font-size: 48px;
  color: #222;
}
