/*  */

@property --from {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.counter {
  transition: --from 1s;
  counter-reset: int var(--from);
  animation: counter var(--time, 1000) forwards ease-in-out;
}

.counter::after {
  content: counter(int);
}

@keyframes counter {
  to {
    --from: var(--to, 0);
  }
}

@font-face {
  font-family: base-font;
  src: url(../assets/fonts/NunitoSans_10pt-Regular.ttf);
}


/*  */

:root {
  --header-height: 30px;
  --footer-height: 70px;
  --btn-radius: 5px;
  --main-font: base-font;
  --color-danger: #ff2430;
  --primary-color: #9f34c0;
  --nice-green: #1da074;
  --secondary-color: #6495ed;
  --light-green: #78ee9b;
  --body-color: #fcfcfc;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 5px;
  text-align: center;
  font-size: 12px;
}

#suggestions a {
  font-size: 14px;
}

p {
  margin-bottom: 5px;
}

#a-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  background-color: #eee;
  outline: none;
  border: none;
  /* width: 40px;
  height: 40px; */
  border-radius: 100%;
}

ul {
  list-style: none;
}

nav a:nth-child(1) {
  border-bottom: 1px solid var(--primary-color);
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  background-color: #fcfcfc;
}

header {
  padding: 10px 10px;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 1px 1px #f8f8f8;
  position: sticky;
  top: 0;
  background-color: #fffffff8;
  z-index: 2;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: calc(1.5 * var(--header-height));
  margin-top: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e2e2e2;
  padding: 10px;
  background-color: #fafafa;
}

footer p {
  color: #888;
  margin-bottom: 5px;
  text-align: center;
}

.logo-container {
  width: fit-content;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  margin-right: 10px;
}

h1 {
  color: #666;
  text-align: center;
  font-weight: lighter;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: var(--btn-radius);
  outline: none;
  border: none;
  padding: 10px;
  min-width: 120px;
  cursor: pointer;
}

button:disabled {
  background-color: #eee;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

form {
  /* display: flex; */
}

input, select {
  font-size: 14px;
  color: #888;
  padding: 5px;
  border-radius: var(--btn-radius);
  border: 1px solid #eee;
  outline: none;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

form button {
  margin-top: 10px;
}

.main {
  width: 70%;
  background-color: #fff;
}

.main-header {
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #eee;
  padding: 10px;
}

.main-body {
  border: 1px solid #eee;
  border-top: none;
  padding: 20px;
  min-height: 200px;
  /* overflow-y: scroll; */
  /* overflow-x: scroll; */
}

.main-footer {
  padding: 10px;
  border: 1px solid #eee;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
}

.main-header h3 {
  color: #999;
  font-weight: lighter;
}

.main-header a {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: var(--btn-radius);
}

input:focus, select:focus {
  border-color: var(--primary-color);
}

form #btn-submit {
  position: absolute;
  background-color: var(--primary-color);
  color: #fff;
  right: 20px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  display: flex;
  align-items: center;
  margin: 10px;
}

label {
  color: #888;
}

.form-group label {
  margin-right: 10px;
}

#suggestions {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 40px; */
  background-color: var(--body-color);
  width: 100%;
  margin-top: 0;
  position: fixed;
  top: calc(var(--header-height) + 20px);
  z-index: 1;
  height: 60px;
}

#suggestions a {
  border-radius: 7px;
}

#suggestions a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

#suggestions > li a {
  /* margin: auto 5px; */
  border-radius: 10px;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 14px;
  display: flex;
  align-items: center;
  transition: all .3s ease-in-out;
  position: relative;
  padding: 5px;
}

#suggestions a i {
  display: inline-block;
  margin-right: 10px;
}

#suggestions > li a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

#suggestions i.dropdown-icon {
  margin-left: 5px;
}

.main-link {
  margin: 5px 2px;
  background-color: #eee;
  border-radius: var(--btn-radius);
}

.main-link > a {
  border-radius: 5px;
}

.main-link:hover .sub-menu {
  display: block;
}

.main-link:hover > li a {
  color: #fff;
  background-color: var(--primary-color);
}

#suggestions button:active {
  background-color: #ddd;
}

.sub-menu {
  color: #fff;
  background-color: var(--primary-color);
  padding: 10px 10px;
  position: absolute;
  min-width: 170px;
  border-radius: var(--btn-radius);
  border-top-left-radius: 0;
  top: calc(var(--header-height) + 5px);
  transition: all .3s ease-in-out;
  display: none;
}

.sub-menu li {
  margin-bottom: 5px;
}

.sub-menu a {
  color: #fff;
  display: block;
  text-align: left;
}

.sub-menu a:hover {
  opacity: .8;
}

#loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-new {
  min-width: 70px;
  background-color: #fff !important;
  border:  1px solid var(--primary-color);
  color: var(--primary-color) !important;
}

.btn-circle {
  min-width: unset;
  width: 25px;
  height: 25px;
  margin: auto;
  margin-left: 10px;
  border-radius: 100%;
  background-color: var(--primary-color);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

i {
  pointer-events: none;
}

.btn-circle:hover {
  opacity: .9;
}

.btn-circle:active {
  opacity: .7;
}

.btn-circle-delete {
  background-color: var(--color-danger);
}

.btn-circle-edit {
  background-color: var(--primary-color);
}

.input-thin {
  width: 70px;
}

table {
  margin: auto;
}

thead {
  background-color: #eee;
  padding: 10px;
}

tbody {
  background-color: #fcfcfc;
  color: #666;
}

th {
  padding: 5px 10px;
}



td {
  padding: 10px;
}

.inp-search {
  background: url(../assets/img/search-solid.svg) no-repeat 10px center/15px;
  padding-left: 40px;
}