/*  */

@property --from {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.counter {
  transition: --from 1s;
  counter-reset: int var(--from);
  animation: counter var(--time, 1000) forwards ease-in-out;
}

.counter::after {
  content: counter(int);
}

@keyframes counter {
  to {
    --from: var(--to, 0);
  }
}

@font-face {
  font-family: base-font;
  src: url("../assets/fonts/Arimo-Regular.ttf");
}

/*  */

:root {
  --header-height: 30px;
  --footer-height: 70px;
  --btn-radius: 5px;
  --main-font: base-font;
  --color-danger: #ff2430;
  --primary-color: #9f34c0;
  --nice-green: #1da074;
  --secondary-color: #6495ed;
  --light-green: #78ee9b;
  --body-color: #fcfcfc;
}

/*  */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  /* background: var(--body-color); */
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}
/*  */

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 5px;
  text-align: center;
  font-size: 12px;
}

#suggestions a {
  font-size: 14px;
}

p {
  margin-bottom: 5px;
}

#a-dashboard,
#a-notifications {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  background-color: #eee;
  outline: none;
  border: none;
  border-radius: 100%;
}

#a-notifications {
  margin-right: 20px;
  position: relative;
  width: 20px;
  height: 20px;
}

#a-notifications span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  right: -1px;
  top: -1px;
  transform: scale(0);
  animation: notify .4s 1s 1 forwards;
}

#notifications {
  width: 320px;
  height: 420px;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  top: calc(var(--header-height) + 20px);
  display: none;
}

.notification-header {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.notification {
  background-color: var(--body-color);
  padding: 10px;
}

.notification-body {
  overflow-y: scroll;
  background-color: #fefefe;
}

.action-buttons button {
  padding: 5px;
}

@keyframes notify {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

ul {
  list-style: none;
}

nav a:nth-child(1) {
  border-bottom: 1px solid var(--primary-color);
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  background-color: #fcfcfc;
}

header {
  padding: 12px 10px;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: 0 1px 1px 1px #f8f8f8; */
  position: sticky;
  top: 0;
  background-color: #fffffff8;
  border-bottom: 1px solid #eee;
  z-index: 2;
}

header > div {
  display: flex;
  align-items: center;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: calc(1.5 * var(--header-height));
  margin-top: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #fafafa;
}

footer p {
  color: #888;
  margin-bottom: 5px;
  text-align: center;
}

.logo-container {
  width: fit-content;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  margin-right: 10px;
}

h1 {
  color: #666;
  text-align: center;
  font-weight: lighter;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: var(--btn-radius);
  outline: none;
  border: none;
  padding: 10px;
  min-width: 120px;
  cursor: pointer;
}

input:disabled {
  background-color: #aaa;
  color: #eee;
}

button:disabled {
  background-color: #eee;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

form {
  /* display: flex; */
}

input,
select {
  font-size: 14px;
  color: #888;
  padding: 5px;
  border-radius: var(--btn-radius);
  border: 1px solid #eee;
  outline: none;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  background-color: none;
}

input[type="radio"] {
  margin: auto 5px;
}

form button {
  margin-top: 10px;
}

table {
  background-color: unset;
}

table * {
  border: none;

}

table tr:nth-child(even) {
  background-color: #eee;
}

table th {
  color: #fff;
  font-weight: 100;
  background-color: #aaa;
}

.main {
  width: 70%;
  /* background-color: #fff; */
}

.main-header {
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #eee;
  padding: 10px 20px;
  background-color: #fff;
}

.main-body {
  border: 1px solid #eee;
  border-top: none;
  padding: 20px;
  min-height: 200px;
  /* overflow-y: scroll; */
  /* overflow-x: scroll; */
}

.main-footer {
  padding: 10px;
  border: 1px solid #eee;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
  background-color: #fff;
}

.main-header h3 {
  color: #999;
  font-weight: lighter;
}

.main-header a {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: var(--btn-radius);
}

input:focus,
select:focus {
  border-color: var(--primary-color);
}

form #btn-submit {
  position: absolute;
  background-color: var(--primary-color);
  color: #fff;
  right: 20px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  display: flex;
  align-items: center;
  margin: 10px;
}

label {
  color: #888;
}

.form-group label {
  margin: 10px;
}

#suggestions {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-color);
  width: 100%;
  margin-top: 0;
  position: fixed;
  top: calc(var(--header-height) + 20px);
  z-index: 1;
  height: 60px;
}

#suggestions a {
  border-radius: 7px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

#suggestions > li a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

#suggestions > li a {
  border-radius: 10px;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 14px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 5px;
  background-color: #eee;

}

#suggestions a i {
  display: inline-block;
  margin-right: 10px;
}

#suggestions > li a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

#suggestions i.dropdown-icon {
  margin-left: 5px;
}

.main-link {
  margin: 5px 5px;
  border-radius: var(--btn-radius);
}

.main-link > li {
  z-index: 2;
}

.main-link:hover .sub-menu {
  display: block;
}

.main-link:hover > li a {
  color: #fff;
  background-color: var(--primary-color);
}

#suggestions button:active {
  background-color: #ddd;
}

.sub-menu {
  background-color: #fff;
  color: var(--primary-color);
  padding: 10px 10px;
  position: absolute;
  min-width: 170px;
  border-radius: var(--btn-radius);
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  top: calc(var(--header-height) + 10px);
  transition: all 0.3s ease-in-out;
  display: none;
  z-index: -1;
  /* box-shadow: 0 0 1px 1px #f6f6f6; */
  border: 1px solid #eee;
}

.sub-menu li {
  margin-bottom: 5px;
}

.sub-menu a {
  display: block;
  text-align: left;
}

.sub-menu a:hover {
  opacity: 0.8;
}

#loader {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  z-index: 5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}

#loader p {
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader img {
  margin-right: 10px;
}

.btn-new {
  min-width: 70px;
  background-color: #fff !important;
  border: 1px solid var(--primary-color);
  color: var(--primary-color) !important;
}

.btn-circle {
  min-width: unset;
  width: 25px;
  height: 25px;
  margin: auto;
  margin-left: 10px;
  border-radius: 100%;
  background-color: var(--primary-color);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

i {
  pointer-events: none;
}

.btn-circle:hover {
  opacity: 0.9;
}

.btn-circle:active {
  opacity: 0.7;
}

.btn-circle-show {
  background-color: var(--nice-green);
}

.btn-circle-delete {
  background-color: var(--color-danger);
}

.btn-circle-edit {
  background-color: var(--primary-color);
}

.input-thin {
  width: 70px;
}

table {
  margin: auto;
}

thead {
  background-color: #eee;
  padding: 10px;
}

tbody {
  background-color: #fcfcfc;
  color: #666;
}

th {
  padding: 5px 10px;
}

td {
  padding: 10px;
}

.inp-search {
  background: url(../assets/img/search-solid.svg) no-repeat 10px center/15px;
  padding-left: 40px;
  border: 1px solid #999;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  align-items: center;
}

.pagination p {
  margin: auto 10px;
  color: #aaa;
}

.pagination button {
  padding: 5px;
  margin: 5px;
  min-width: auto;
  display: inline-block;
  width: 40px;
}

.pagination i {
  margin: unset;
}

/* switch settings 👇 */

.ui-switch {
  /* switch */
  --switch-bg: rgb(135, 150, 165);
  /* --switch-width: 48px; */
  --switch-width: 42px;
  --switch-height: 20px;
  /* circle */
  /* --circle-diameter: 32px; */
  --circle-diameter: 28px;
  /* --circle-bg: rgb(0, 56, 146); */
  --circle-bg: var(--primary-color);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  ;
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* actions */

.ui-switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active+.slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}
